Question 1
Question: Who has scored the most runs in IPL history?

Expected: Virat Kohli

actual:
  batter	total_runs
	V Kohli	9040

Question 2:
Question: Who has taken the most wickets in IPL history?

Expected: Yuzvendra Chahal

actual:   
  bowler	total_wickets
    YS Chahal	237

Question 3
Question: What is the highest individual score by a batsman in a single IPL match?

Expected: 175 (Chris Gayle)    

actual:
	match_id	batter	match_score
    	598027	CH Gayle	175

Question 4
Question: Who has hit the most sixes in IPL history?

Expected: Chris Gayle

actual:
   batter	total_sixes
	CH Gayle	357

Question 5
Question: Which player has scored the most centuries (100+ runs) in the IPL?

Expected: Chris Gayle

actual:   
   batter	centuries
	 V Kohli	8

Question 6
Question: What is the highest team total in a single IPL innings?

Expected: 263 (Royal Challengers Bangalore)

actual:
    	match_id	batting_team	innings_total
        	1426268	Sunrisers Hyderabad	287

Question 7
Question: Who has bowled the most dot balls in IPL history?

Expected: Sunil Narine

actual:
    bowler	dot_balls
	B Kumar	1828
